{erl_opts, [debug_info]}.
{deps, [
        {cowboy, "2.1.0"},
        {prometheus, "3.4.4"},
        {prometheus_cowboy, "0.1.4"}
       ]}.

{relx, [{release, {beam_prometheus, "0.1.0"},
         [beam_prometheus]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, false}
       ]}.
